
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.container-movie-book {
    width: 80%;
    margin: 0 auto;
}
.movie-card img {
    max-width: 20vw;  /* Limit the image size to its container */
    height:40vh;
}
.movie-card {
    background-color: #fff;
    margin: 1em;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}



.movie-info {
    margin-top: 1em;
}

.booking-form {
    margin-top: 1em;
}
